{% extends "base.html" %}

{% block content %}
	{% for gallery in object_list %}
	<div class="gallery-cover">
		<a href="/gallery/{{ gallery.slug }}">
			<h3>{{gallery.title}}</h3>
			<img src="{{MEDIA_URL}}{{gallery.get_cover_photo}}" />
		</a>
	</div>
	{% endfor %}
{% endblock content %}
{% block extra_css %}
<style>
	.gallery-cover h3 {position: relative; top: 50px; font-family: RistrettoPro-Regular; color: white; margin-top: -50px; left: 20px;}
	.gallery-cover a {text-decoration: none;}
</style>
{% endblock extra_css %}