{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Ania Masłowska to pracownia specjalizująca się w architekturze wnętrz." />
<meta property="og:description" content="Ania Masłowska to pracownia specjalizująca się w architekturze wnętrz." />
<meta property="og:url" content="http://{{request.META.HTTP_HOST}}" />
<meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{MEDIA_URL}}{{object_list.0.get_cover_photo}}" /> 
<meta property="og:title" content="Ania Masłowska - architektura wnętrz" />
{% endblock meta %}

{% block content %}
	{% for gallery in object_list %}
	<div class="gallery gallery-cover">
		<a href="/galerie/{{ gallery.slug }}/">
			<img src="{{MEDIA_URL}}{{gallery.get_cover_photo}}"  alt="{{gallery.title}}"/>
			<p class="gallery-title">{{gallery.title}}</p>
		</a>
	</div>
	{% endfor %}
{% endblock content %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}
{% block extra_js %}
	
{% endblock extra_js%}