{% extends "base.html" %}

{% block content %}
{% for photo in photo_list %}
<div class="img-detail">
	<img src="{{MEDIA_URL}}{{photo.image.name}}" alt="{{gallery.description}}" />
</div>
{% endfor %}
<div class="description">
	<!--<h2>{{gallery.title}}</h2>-->
	<p class="lead">{{gallery.description}}</p>
</div>
{% endblock content %}
{% block extra_css %}
<style>
	.img-detail img {padding-bottom: 5px;}
	.description h2, .description p { font-family: RistrettoPro-Regular;;}
</style>
{% endblock extra_css%}