{% extends "base.html" %}

{% block title %}: {{ gallery.title }}{% endblock title %}

{% block meta %}
<meta property="og:description" content="{{gallery.description}}" />
<meta name="description" content="{{gallery.description}}" />
<meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{MEDIA_URL}}{{gallery.get_cover_photo}}" /> 
<meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{ request.path }}" />
<meta property="og:title" content="Ania Masłowska - architektura wnętrz: {{ gallery.title }}" />
{% endblock meta %}

{% block content %}
{% for photo in photo_list %}
<div class="gallery img-detail">
	<img src="{{MEDIA_URL}}{{photo.image.name}}" alt="{{gallery.title}}" />
</div>
{% endfor %}
<div class="description">
	<!--<h2>{{gallery.title}}</h2>-->
	<p class="lead">{{gallery.description}}</p>
</div>
{% endblock content %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css%}