{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
    	<div class="contact-description">
    		<p class="name">Ania Masłowska</p>
    		<p class="phone">t: +48 603 156 253</p>
    		<p class="mail">e: <a href="mailto:kontatk@aniamaslowska.pl">kontakt@aniamaslowska.pl</a></p>
    	</div>
        <div class="form-container">
            {% crispy form form.helper %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
	$(function() {
	    $('#id_name').focus()
	});
</script>
{% endblock %}
{% block extra_css %}
<style>
	.form-container { padding-left:15px; padding-right: 200px; padding-bottom: 15px; padding-top: 45px;}
	.contact-description { padding-left: 15px; padding-bottom: 15px; margin-top: 16px;}
	label { display: none;}
	.contact-description a, .contact-description a:hover {color: rgb(165,135,143);}
	.form-control { border-radius: 0px; background-color: #eee}
	.form-actions { text-align: right; }
	.form-actions input { text-transform: uppercase; background-color: #eee; border-radius: 0px; color: black; border-color: #ccc; }
	.btn-primary:hover { background-color: rgb(165,135,143); }
</style>
{% endblock extra_css %}