{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}: Kontakt{% endblock title %}

{% block meta %}
<meta name="description" content="Zapraszam do skontaktowania się ze mną." />
<meta property="og:description" content="Zapraszam do skontaktowania się ze mną." />
<meta property="og:url" content="http://{{request.META.HTTP_HOST}}" />
<meta property="og:image" content="http://{{request.META.HTTP_HOST}}{% static 'img/ania2.jpg' %}" /> 
<meta property="og:title" content="Ania Masłowska - architektura wnętrz: Kontakt" />
{% endblock meta %}

{% block content %}
    <div class="row">
    	<div class="contact-description">
    		<p class="name">Ania Masłowska</p>
    		<p class="phone">t: +48 603 156 253</p>
    		<p class="mail">e: <a href="mailto:kontakt@aniamaslowska.pl">kontakt@aniamaslowska.pl</a></p>
    	</div>
        <div class="form-container">
            {% crispy form form.helper %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
	$(function() {
	    $('#id_name').focus()
	});
</script>
{% endblock %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}