{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block content %}
<div class="row about">
<div class="col-md-5 about-text">
	<p>Jestem absolwentką Wydziału Architektury Wnętrz Uniwersytetu Artystycznego w Poznaniu. <br />Najbliższe mojemu sercu są wnętrza proste i ponadczasowe.</p>
	<p>Moje projekty cechuje funkcjonalność, czysta forma i szlachetne materiały.
	Staram się w nich połaczyć  surową prostotę z ciepłem domowego wnętrza, w każdym chcę zawrzeć coś wyjątkowego. Zawsze poszukuję intrygi - rowiązania, które sprawi, że wnętrze będzie jedyne w swoim rodzaju.
	Stworzenie takiego wnętrza jest wyzwaniem zarówno dla mnie, jak i dla inwestora. Nasza współpraca nie ogranicza się tylko do opracowania koncepcji wnętrza, projekt realizowany jest kompleksowo, by finalny efekt był spełnieniem naszych oczekiwań, by przestrzeń była komfortowa i bezpieczna.</p>
	<p>Częścią procesu tworzenia wnętrza jest projektowanie mebli, detali i prowadzenie nadzoru autorskiego. Współpracuję z wykwalifikowanymi i sprawdzonymi wykonawcami.</p>
</div>
<div class="col-md-7 about-photo">
	<img src="{% static 'img/ania2.jpg' %}" alt="Ania Masłowska" />
</div>
</div>
{% endblock content %}
{% block extra_css %}{% endblock extra_css %}